@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/datepicker/bootstrap-datepicker3.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/select2/select2.css")" rel="stylesheet" type="text/css" />
<form id="form1" class="form-inline">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>状态</td>
                            <td>
                                <select id="statu" name="storeid" class="form-control" style="width: 90%; display: inline"></select>
                            </td>
                            <td>申请时间</td>
                            <td style="width: 15%">
                                <div id="date1Container">
                                    <input type="text" class="form-control" id="date1Input" name="date1" placeholder="" />

                                </div>
                            </td>
                            <td>至</td>
                            <td style="width: 15%">
                                <div id="date2Container">

                                    <input type="text" class="form-control" id="date2Input" name="date2" placeholder="" />
                                </div>
                            </td>
                            <td style="width:12%">
                                <button id="action" name="action" type="button" class="btn btn-primary" value="search">查询</button>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-striped" id="tbDetailList">
                        <thead>
                            <tr>
                                <th>勾选</th>
                                <th>申请人</th>
                                <th>申请时间</th>
                                <th>所属医院</th>
                                <th>提现金额</th>
                                <th>转入银行</th>
                                <th>转入账号</th>
                                <th>处理状态</th>
                                <th>处理人</th>
                                <th>处理时间</th>
                            </tr>
                        </thead>
                        <tbody id="cashdrawListContainer"></tbody>
                    </table>
                    <div class="row-fluid" id="cashdrawpage"></div>
                    <div class="row-fluid" id="cashdrawpage2" style="display:none"></div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <td>
                <input type="checkbox" name="selectall" id="selectall" value="0" />全选
                &nbsp;&nbsp;&nbsp;<button id="bulk" name="action" type="submit" class="btn btn-primary" value="search">批量处理</button>
            </td>
        </tr>
    </table>
</form>
@section scripts{
    <script src="../Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="../Scripts/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="../Scripts/jquery.twbsPagination.js"></script>
    <script src="../Scripts/handlebars-v3.0.3.js"></script>
    <script id="cashdrawTemplate" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td>               
                <input type="checkbox" name="select" value="{{pkid}}" />
            </td>
            <td>{{doctor_name}}</td>
            <td>{{apptime}}</td>
            <td>{{hospital}}</td>
            <td>{{drawmoney}}</td>
            <td>{{bank}}</td>
            <td>{{card_no}}</td>
            <td>{{opstatus}}</td>
            <td>{{opuser}}</td>
            <td>{{_optime}}</td>
        </tr>
        {{/each}}
    </script>

    <script type="text/javascript">
        (function () {
            var statusData= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.status));
            if(statusData!=null){
                for (var n = 0; n < statusData.length; n++) {
                    $('#statu').append("<option value='" + statusData[n].Value + "'>" + statusData[n].Text + "</option>");
                }
            }
        })();
    </script>

    <script src="../Scripts/Pages/Share.js"></script>
    <script src="../Scripts/Pages/doctor/cashrawList.js"></script>
}





