@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/datepicker/bootstrap-datepicker3.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/select2/select2.css")" rel="stylesheet" type="text/css" />
<form id="form1" class="form-inline">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
    <table class="table-condensed">
        <tr>
            <td>卷名称</td>
            <td>
                <input type="text" class="form-control" id="name" name="name" placeholder="" />
            </td>
            <td>卷面值</td>
            <td>
                <input type="text" class="form-control" id="values" name="values" placeholder="" />
            </td>
            <td>状态</td>
            <td>
                <select id="status" name="status" class="form-control" style="width: 100%; display: inline">
                </select>
            </td>
        </tr>
        <tr>
            <td>生效时间</td>
            <td>
                <div id="date1Container">
                    <input type="text" class="form-control" id="date1Input" name="date1" placeholder="" />

                </div>
            </td>
            <td>至</td>
            <td>
                <div id="date2Container">

                    <input type="text" class="form-control" id="date2Input" name="date2" placeholder="" />
                </div>
            </td>
            <td colspan="2">
                <button id="action" name="action" type="button" class="btn btn-primary" value="search">查询</button>

                <a href="@Url.Action("CreatePromotionCoupons", "Promotion")" id="new" name="action" class="btn btn-primary">生成</a>
            </td>
        </tr>
    </table>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table id="tbList" class="table table-striped" id="tbDetailList1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>现金卷名称</th>
                                <th>面值</th>
                                <th>库存数量</th>
                                <th>总数量</th>
                                <th>所在活动</th>
                                <th>生效时间</th>
                                <th>失效时间</th>
                            </tr>
                        </thead>
                        <tbody id="couponsListContainer"></tbody>
                    </table>
                    <div class="row-fluid" id="couponspage"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="detaildiv"class="row" style="display:none">
        <h3>详情</h3>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-striped" id="tbDetailList2">
                        <thead>
                            <tr>
                                <th>卷编码</th>
                                <th>面值</th>
                                <th>状态</th>
                                <th>赠送时间</th>
                                <th>兑换时间</th>
                                <th>业务类型</th>
                                <th>使用人</th>
                                <th>所属医生</th>
                            </tr>
                        </thead>
                        <tbody id="detailListContainer"></tbody>
                    </table>
                    <div class="row-fluid" id="detailpage"></div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script src="../Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="../Scripts/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="../Scripts/select2/select2.js"></script>
    <script src="../Scripts/select2/select2-zh-CN.js"></script>
    <script src="../Scripts/jquery.twbsPagination.js"></script>

    <script src="../Scripts/handlebars-v3.0.3.js"></script>
    <script id="couponsTemplate" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td>
                <button value="selecct" class="btn btn-primary btn-xs" type="button" data-orderid="{{pkid}} ">选择</button>
                <input id="id" name="id" value="{{pkid}}" type="hidden" />
            </td>
            <td>{{name}}</td>
            <td>{{values}}</td>
            <td>{{stock}}</td>
            <td>{{issue_num}}</td>
            <td></td>
            <td>{{start}}</td>
            <td>{{end}}</td>
        </tr>
        {{/each}}
    </script>

    <script id="detailTemplate" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td>{{code}}</td>
            <td>{{valuess}}</td>
            <td>{{statusstr}}</td>
            <td>{{send}}</td>
            <td>{{use}}</td>
            <td>{{business_type}}</td>
            <td>{{patient_name}}</td>
            <td>{{doctor_name}}</td>
        </tr>
        {{/each}}
    </script>

    <script type="text/javascript">
        (function () {
            var statusData= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.status));
            if(statusData!=null){
                for (var n = 0; n < statusData.length; n++) {
                    $('#status').append("<option value='" + statusData[n].Value + "'>" + statusData[n].Text + "</option>");
                }
            }
        })();
    </script>

    <script src="../Scripts/Pages/Share.js"></script>
    <script src="../Scripts/Pages/Promotion/PromotionCouponsList.js"></script>
}





